#!/usr/bin/env bash

# load flake
use flake

# add project scripts to PATH
PATH_add scripts

# reload devshell
watch_file nix/devshell.nix

# load extra stuff automatically
source_env_if_exists .envrc.local
